<div class="container" ng-show="authenticated">
	<div class="row">
		<div class="col-xs-12 col-sm-9">
			<ul class="breadcrumb">
				<li class="active">
					<a href="#">News</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-xs-12 col-sm-9">
			<!-- 			<div class="table-responsive col-lg-12"> -->
			<table class="table ">
				<tr ng-repeat="post in posts | orderBy:'-upvotes'">
					<!-- 							<td>{{ post.id }}</td> -->
					<td>
						<a href="#/front/post/{{post.id}}"> {{ post.title }}</a>
					</td>
					<td width="70%">
						<a href="#/front/post/{{post.id}}"> {{ post.body | limitTo : 75 }}...</a>
					</td>
					<td>{{ post.author.name }}</td>
					<td nowrap=nowrap align="right">
						<i ng-click="editPost(post)" style="color: blue" class="fa fa-xs fa-pencil-square-o"></i>
						<i ng-click="deletePost(post)" style="color: blue" class="fa fa-xs fa-trash-o" ng-show="isAdmin" ></i>
					</td>
				</tr>
			</table>
		</div>
		<!-- 		</div> -->
	</div>


	<div class="row row-content">
		<div class="col-xs-12">
			<h3>Add a new post</h3>
		</div>
		<div class="col-xs-12 col-sm-9">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" class="form-control" placeholder="Title" ng-model="post.title" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea class="form-control" name="body" rows="12" placeholder="Post" ng-model="post.body"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-1">
						<label for="author" class=" control-label">Author</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" ng-model="post.author" ng-options="data.name for data in authors track by data.id">
						</select>
					</div>

					<div class="col-sm-6">
						<button ng-click="clearPost()" style="width: 120px" class="btn btn-danger pull-right">Clear</button>
					</div>

					<div class="col-sm-2">
						<button ng-click="savePost(post)" ng-class="isEdit ? 'btn-warning':'btn-primary'" style="width: 120px"
							class="btn pull-right">{{isEdit ? 'Save changes':'Add Post'}}</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
