<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-9">
			<ul class="breadcrumb">
				<li class="active">
					<a href="#">News</a>
				</li>
				<li class="active">{{post.title}}</li>
			</ul>
		</div>
	</div>

	<div class="row row-content">
		<div class="col-xs-12 col-sm-9">
			<p>{{post.body}}</p>

		</div>

	</div>


	<div class="row row-content">
		<div class="col-xs-12 col-sm-9">

			<hr>
			<h5 class="form-group form-inline" ng-show="post.comments.length">

				<b>
					<small>Sort by:</small>
					<select class="form-control input-xs" ng-model="orderAttr" ng-options="data for data in orderBy" ng-change="reverseSort()" >
					</select>
					<input ng-show="orderBy.indexOf(orderAttr)!=-1" type="checkbox" ng-model="isReverse" ng-change="reverseSort()" />
				</b>
			</h5>

			<div>
				<ul class="media-list">
					<li class="media" ng-repeat="comment in post.comments | orderBy : order">

						<blockquote>

							<div class="">
								<i ng:class="comment.rating >= 1?'fa fa-xs fa-star': 'fa fa-xs fa-star-o'"  style="color:orange"></i>
								<i ng:class="comment.rating >= 2?'fa fa-xs fa-star': 'fa fa-xs fa-star-o'"  style="color:orange"></i>
								<i ng:class="comment.rating >= 3?'fa fa-xs fa-star': 'fa fa-xs fa-star-o'"  style="color:orange"></i>
								<i ng:class="comment.rating >= 4?'fa fa-xs fa-star': 'fa fa-xs fa-star-o'"  style="color:orange"></i>
								<i ng:class="comment.rating >= 5?'fa fa-xs fa-star': 'fa fa-xs fa-star-o'"  style="color:orange"></i>
							</div>
							<h5>
								<b>{{comment.comment}}</b>
							</h5>
							<small>
								{{comment.upvotes}}
								<i ng-click="upvote(true,comment)" style="color: blue; cursor: pointer" class="fa fa-xs fa-angle-up"></i>
								|
								<i ng-click="upvote(false, comment)" style="color: blue; cursor: pointer" class="fa fa-xs fa-angle-down"></i>
								- {{comment.date | date:'yyyy-MM-dd HH:mm:ss'}}
							</small>
						</blockquote>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<form class="form-horizontal" name="commentForm" ng-submit="saveComment()" novalidate>
				<div class="form-group">
					<label for="rating" class="col-sm-2 control-label">Stars</label>
					<div class="col-sm-10">
						<label class="radio-inline" ng-repeat="n in [1,2,3,4,5]">
							<input type="radio" checked="checked" name="rating" ng-model="comment.rating" ng-value="n">
							{{n}}
						</label>
					</div>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
					<label for="comment" class="col-sm-2 control-label">Comment</label>
					<div class="col-sm-10">
						<textarea rows="2" class="form-control" id="comment" name="comment" ng-model="comment.comment" required></textarea>
						<span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">comment
							is required.</span>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comment</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>